body {
    font: 100% Helvetica, sans-serif;
    background-color: #ebe9d9;
  }
h1{
    text-align: center;
    vertical-align: middle;
    font-family:trebuchet, helvetica, sans-serif;
    color:#282825;
    letter-spacing: 2px; 
}
#logoHeader{
    width:70px;
    height:70px;
    border-radius:50px
}
#pageTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    vertical-align: center;
    font-family:trebuchet, helvetica, sans-serif;
    color:#282825;
    border-width: 3px;
    border-style: solid;
    border-color: #3a8eba;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 3%;    
}
#ecoTitle{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #3a8eba;
    border-radius: 50px;
    width: 15%;
}
#ecoTitle:hover{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #282825;
    color: #3a8eba;
    border-radius: 50px;
    width: 15%;
}
.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#282825;
    text-align: center;
    margin-left: 1%;
}
/* h2, h3{
    text-align: center;
    font-family: trebuchet, helvetica, sans-serif;
    color:#282825;
    border-width: 1px;
    border-style: solid;
    border-color: #3a8eba;
    border-radius: 50px;
} */
.title{
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   font-family: trebuchet, helvetica, sans-serif;
   font-size: 25px;
   letter-spacing: 1px;
   color:#3a8eba;
   border-width: 1px;
   border-style: solid;
   border-color: #3a8eba;
   border-radius: 50px;
   height: 45px;
   width: 30%;
   margin-top: 25px;
   margin-bottom: 15px;
   padding-inline-start:30px;
   padding-inline-end: 30px;
}
.iconsTitle{
    widows: 40px;
    height:40px;
    border-radius:50px;
    align-items: center;
}
.textItems{
    font-size: 15px;
    width: 90%;
    margin: auto;
    line-height: 170%;   
}
.textEcosystem{
    width: 85%;
    margin: auto;
    text-align:left;
    line-height: 160%;
}
.ecoSolution{
    text-align: center;
}
#textInvit{
    width: 85%;
    margin: auto;
    text-align:left;
    text-decoration: underline;
    line-height: 160%;
}
.titlePoles{
    width: 85%;
    margin: auto;
    text-align:left;
    line-height: 160%;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: underline;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   font-family: trebuchet, helvetica, sans-serif;
   font-size: 20px;
   letter-spacing: 1px;
   color:#282825;
   /* bordure */
   border-width: 1px;
   border-style: solid;
   border-color: #3a8eba;
   border-radius: 50px;
   height: 45px;
   width: 28%;
   margin-top: 5%;
   margin-bottom: 15%;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60px;
    height:60px;
    align-items: center;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.iconsLogos{
    widows: 60px;
    height:60px;
    border-radius:50px;
    align-items: center;
    outline : none;
}
#contactUs{
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px;
}
#partners{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60px;
    height:60px;
    align-items: center;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.iconsPartners{
    widows: 70px;
    height:70px;
    border-radius:50px;
    align-items: center;
    outline : none;

}



