body {
    font: 100% Helvetica, sans-serif;

  }
#headerTitle{
    font-family:trebuchet, helvetica, sans-serif;
    color:#282825;
    font-size: 30px;
    margin-top: 50px;
}
#logoOpen{
    width:250px;
    height:120px;
}
#logoEco{
    width:120px;
    height:120px;
}
.headerPoles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 23%;
}
#pageTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    vertical-align: center;
    font-family:trebuchet, helvetica, sans-serif;
    color:#ffffff;
    width: 100%;
    height: 200px; 
}
.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#282825;
    text-align: center;
    margin-left: 1%;
}
.title{
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   font-family: trebuchet, helvetica, sans-serif;
   font-size: 25px;
   letter-spacing: 1px;
   color:#3a8eba;
   border-width: 1px;
   border-style: solid;
   border-color: #3a8eba;
   border-radius: 50px;
   height: 45px;
   width: 30%;
   margin-top: 25px;
   margin-bottom: 15px;
   padding-inline-start:30px;
   padding-inline-end: 30px;
}
.iconsTitle{
    width:30px;
    height:30px;
    border-radius:50px;
    align-items: center;
}
.textItems{
    font-size: 15px;
    width: 90%;
    margin: auto;
    line-height: 170%;   
}
.textEcosystem{
    width: 85%;
    margin: auto;
    text-align:left;
    line-height: 160%;
}
.ecoSolution{
    text-align: center;
}
#textInvit{
    width: 85%;
    margin: auto;
    text-align:left;
    text-decoration: underline;
    line-height: 160%;
}
.titlePoles{
    width: 85%;
    margin: auto;
    text-align:left;
    line-height: 160%;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: underline;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   font-family: trebuchet, helvetica, sans-serif;
   font-size: 20px;
   letter-spacing: 1px;
   color:#282825;
   /* bordure */
   border-width: 1px;
   border-style: solid;
   border-color: #3a8eba;
   border-radius: 50px;
   height: 45px;
   width: 28%;
   margin-top: 5%;
   margin-bottom: 15%;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60px;
    height:60px;
    align-items: center;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.iconsLogos{
    widows: 60px;
    height:60px;
    border-radius:50px;
    align-items: center;
    outline : none;
}
#contactUs{
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px;
}
#partners{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60px;
    height:60px;
    align-items: center;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.poleColor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid;
    border-color: #282825;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    vertical-align: middle;
    margin: auto;
    padding-bottom: 3%;
    line-height: 170%;
}
.poleWhite{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid;
    border-color: #282825;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: auto;
    padding-bottom: 3%;
    line-height: 170%;
}
.poleTitle{
    font-family:trebuchet, helvetica, sans-serif;
    color:#282825;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
}
.poleBody{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;     
}
.poleIcons{
    width:120px;
    height:120px;
    align-items: center;
}
.actionTitle{
    font-family:trebuchet, helvetica, sans-serif;
    color:#282825;
    font-size: 20px;
}
.validateIcons{
    width:50px;
    height:50px;
    align-items: center;
}
.actionItems{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;

}
.itemsBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    align-content: flex-start;
}
.actionBody{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#containerPartners{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300PX;
}
.partenaires{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: 100vh;
}
.iconsPartners{
    widows: 100px;
    height:100px;
}
.poleContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:15%;
}
.contactIcons{
    width:100px;
    height:100px;
    align-items: center;
}
#contact{
    font-family:trebuchet, helvetica, sans-serif;
    color:#1f6ce5;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
}



