html {
	font-size: 100%;
}

body {
	font: 100% trebuchet, helvetica, sans-serif;
}

img {
	max-width: 100%;
}

#pageTitle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#headerTitle {
	color: #282825;
}

#logoLeft {
	width: 300px;
	height: auto;
}

#logoRight {
	width: 50px;
	height: auto;
}

.navbar {
	font-size: 125%;
}

.navbar-toggle {
	background-image: url(/org_openCiLife_ecoWeb/images/burger.svg);
	width: 32px;
}

.navbar-nav>li>a {
	color: black;
}

.blockContent {
	padding: 0px 2%;
	width: 100%;
}
/** simillar to .blockSubContent > p **/
.blockSubContent>span {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #e6e6e6;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 30px;
	margin: 10px 50px 10px 0px;
	display: inline-block;
	min-width: 200px;;
}

/** simillar to .partenaires **/
.partners .blockBody .blockContent>p, .join .blockBody .blockContent>p {
	width: 100%;
}

.join .blockContent>p, .partners .blockContent>p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1%;
}

.partners .blockBody .blockContent>p a, .join .blockBody .blockContent>p a
	{
	display: inline-block;
}
/** simillar to .iconsPartners **/
.partners .blockBody .blockContent>p>a>img, .join .blockBody .blockContent>p>a>img
	{
	height: 100px;
	padding: 1%;
}

.blockSubContent>p {
	line-height: 100%;
	margin-right: 10px;
}

.join .blockBody>p {
	width: 100%;
}

.blockSubContent>p>a {
	padding: 8px 25px;
	display: block;
}

.actions .blockBody .blockContent>ul {
	padding-left: 1%;
}

.actions .blockBody .blockContent>ul>li>strong {
	color: black;
}

.actions .blockBody .blockContent>ul>li {
	display: list-item;
	/*list-style-image : url(images/validate.svg);*/
	list-style: none;
	background-image: url("/images/validate.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
	padding: 10px 10px 10px 25px;
	color: gray;
}

.actions .blockBody>ul>li>ul>li {
	display: list-item;
	/*list-style-image : url(images/validate.svg);*/
	list-style: none;
	font-size: 0.5em;
	margin-left: -50px;
}

.hpColor {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-top: 1px solid;
	border-color: #282825;
	width: 100%;
	height: auto;
	background-color: #f7f7f7;
	vertical-align: middle;
	margin: auto;
	padding-bottom: 3%;
	line-height: 170%;
}

.hpWhite {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-top: 1px solid #282825;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin: auto;
	padding-bottom: 3%;
	line-height: 170%;
}

.blockTitle {
	font-size: 200%;
	text-align: center;
}

.blockBody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.blockIcon {
	width: 25px;
	height: 25px;
	margin-right: 1%;
}

.footer_blocks {
	display: flex;
	flex-direction: column;
}

.footer_block {
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.footer_block img {
	width: 100px;
}

.footer_block_text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 4%;
}

.description {
	font-weight: lighter;
	color: #aaaaaa;
}

.blockSubContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	widows: 2;
	margin-top: 5%;
}

.blockSubContent>p {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #e6e6e6;
	border-radius: 5px;
	height: 150px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.blockDescription {
	display: flex;
	justify-content: start;
	flex-direction: column;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	vertical-align: middle;
	font-size: smaller;
	line-height: 20px;
	align-content: center;
	padidng-right: 1px;
}

.titleDescription {
	font-family: trebuchet, helvetica, sans-serif;
	color: #282825;
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
	margin-top: 5%;
}

.descriptionIcons {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin-top: 3%;
	margin-left: 40%;
}

.projectInfos {
	border: 1px solid black;
}

.label {
	font-weight: bold;
	color: black;
}

.projectStatus {
	font-style: italic;
}

.credit {
	background-color: lightgray;
	text-align: center;
}

#go_to_top {
	position: -webkit-sticky;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

table th, table td {
	border: 1px solid black;
	padding: 0.5%;
}

/* cards */
.card_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 15rem;
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

.card_title {
	margin-left: 10px;
	margin-right: 10px;
}

.card>a.widget_link, .card>a.widget_link_modal {
	display: block;
	color: black;
	height: 90%;
}

.card>a.widget_link:hover, .card>a.widget_link_modal:hover {
	text-decoration: none;
}

.card>a.widget_link:hover {
	color: #2a6496;
}

.card>a.widget_link_modal:hover {
	cursor: zoom-in;
	color: #2a6496;
}

.card>a.widget_link:active, .card>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.card_exerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.card_image {
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.card_image>img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	max-height: 180px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card_content {
	display: none;
}

.content_type_modal .showMore {
	margin-top: 1%;
}

/* tables sub Content */
.table_title {
	font-weight: bold;
}

.table_image {
	width: 20%;
}
/*
.table_list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.table {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}



.table>a.widget_link, .table>a.widget_link_modal {
	display: flex;
	flex-direction: row;
	color: black;
}

.table>a.widget_link:hover, .table>a.widget_link_modal:hover {
	text-decoration: none;
}

.table>a.widget_link:hover {
	color: #2a6496;
}

.table>a.widget_link_modal:hover {
	cursor: zoom-in;
}

.table>a.widget_link:active, .table>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.table_exerpt {
	text-align: justify;
	width: 30%;
}

.table_image {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	width: 20%
}

.table_image>img {
	height: 90%;
}

.table_content {
	display: none;
}

*/

/* Modal elements */
.modal-body {
	display: flex;
	flex-direction: column;
}

.modal-body-content {
	padding-left: 1%;
}

.modal-image {
	max-height: 200px;
}

.shadow {
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

[data-href] {
	cursor: pointer;
}

[data-href]:hover {
	color: #2a6496;
}

div.debug {
	border: thin ridge red;
	background-color: lightgray;
}

@media screen and (min-width: 640px) {
	#pageTitle {
		justify-content: space-around;
		flex-direction: row;
	}
	#logoRight {
		width: 150px;
	}
	.actions .blockBody .blockContent>ul {
		padding-left: 1%;
	}
	.actions .blockBody .blockContent>ul>li {
		display: list-item;
		/*list-style-image : url(images/validate.svg);*/
		list-style: none;
		background-image: url("/images/validate.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 40px;
		padding: 10px 10px 10px 45px;
		color: gray;
	}
	.blockIcon {
		width: 130px;
		height: 130px;
	}
	.join .blockContent>p, .partners .blockContent>p {
		flex-direction: row;
	}
	.blockSubContent {
		flex-direction: row;
	}
	.blockDescription {
		width: 40%
	}
	.footer_blocks {
		flex-direction: row;
		justify-content: space-around;
	}
	.footer_block {
		justify-content: space-around;
	}
	.projectInfos {
		float: right;
	}
	.card>a.widget_link, .card>a.widget_link_modal {
		height: 100%;
	}
	.content_type_modal .showMore {
		display: none;
	}
}