html{
	font-size:100%;
}
.header{
	display: flex;
    flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
}
.blockContent {
    padding: 0px 2%;
    width: 100%;
}
/** simillar to .blockSubContent > p **/
.blockSubContent > span{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #e6e6e6;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
	padding: 5px 30px;
	margin: 10px 50px 10px 0px;
	display: inline-block;
	min-width: 200px;;
}
.poleIcons {
	margin-right: 1%;
}
/** simillar to .partenaires **/
.partners .blockBody .blockContent > p, .join .blockBody .blockContent > p{
	width: 100%;
}

.join .blockContent > p, .partners .blockContent > p {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.partners .blockBody .blockContent > p a, .join .blockBody .blockContent > p a{
	display: inline-block;
}
/** simillar to .iconsPartners **/
.partners .blockBody .blockContent > p > a > img, .join .blockBody .blockContent > p > a > img{
    height:100px;
}
.blockSubContent > p {
    line-height: 100%;
    margin-right: 10px;
}
.join .blockBody > p {
	width:100%;
}
.blockSubContent > p > a{
	padding: 8px 25px;
	display: block;
}

.actions .blockBody .blockContent > ul > li > strong {
	color:black;
}

.actions .blockBody .blockContent > ul > li {
	display : list-item;
 	/*list-style-image : url(images/validate.svg);*/
 	list-style: none;
	background-image: url("/images/validate.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	padding: 10px 10px 10px 45px;
	color: gray;
}

.actions .blockBody > ul > li > ul > li {
	display : list-item;
 	/*list-style-image : url(images/validate.svg);*/
 	list-style: none;
 	font-size: 0.5em;
 	margin-left: -50px;
}